section {
  font-size: 18px;
  color: #111;
}

.words-container{
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-top: 15px;
  padding: 0;
}

.word {
  transition-property: border, box-shadow, background;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  /* background: rgba(88, 123, 127, 0.815);
  color: #ececec; */
  width: 250px;
  margin: 15px;
  word-wrap: break-word;
  padding: 20px 15px 5px 15px;
  border: 1px solid #1E2019;
  /* border-radius: 5px; */
  box-shadow: 5px 10px 3px gray;
}

/* .word:hover {
  color: #ececec;
  background: #587B7F;
  border-radius: 5px;
  box-shadow: 0px 2px #1E2019;
} */

.dashboard-start-button{
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin-top: 15px;
}

.dashboard-section {
  margin-bottom: 50px;
  border: 1px solid black;
  width: 50%;
  padding: 50px;
  box-shadow: 5px 10px 3px gray;
}

.mobile-start-button {
  display: none;
}

@media only screen and (max-device-width: 480px) {

  .dashboard-section {
    font-size: 16px;
  }

  .desktop-start-button {
    display: none;
  }

  .mobile-start-button {
    display: flex;
    margin-top:5px;
    width: 150px;
    font-size: 16px;
    text-decoration-line: none;
  }

}